.base {
    padding: 0% 5% 0% 5%;
}

.link {
    word-wrap: break-word;
}

.link a {
    display: block;
    padding-left: 1ex;
    padding-right: 1ex;
    text-decoration: none;
    color: #000088;
}

.content .pure-g:nth-child(even) {
    background-color: #f8f8ff;
}

.link a:hover {
    background-color: #e0e0ff;
}
